flows.json
[
    {
        "id": "1de10e4c5802697f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfe21263f7e28260",
        "type": "mqtt in",
        "z": "1de10e4c5802697f",
        "name": "From Python",
        "topic": "factory/generator/telemetry",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5746692edfcd45c7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "636c5a71e28f6b4e"
            ]
        ]
    },
    {
        "id": "636c5a71e28f6b4e",
        "type": "function",
        "z": "1de10e4c5802697f",
        "name": "Edge Processing",
        "func": "var data = msg.payload;\n\n// EDGE AI: Complex Sensor Fusion\n// Check multiple conditions to trigger alerts\n// 0 = NORMAL\n// 1 = CRITICAL VIBRATION\n// 2 = LOW OIL PRESSURE\n// 3 = VOLTAGE UNSTABLE\n\nif (data.vibration > 0.8) {\n    data.alert = 1;\n} \nelse if (data.oil_pressure < 2.0 && data.rpm > 500) {\n    data.alert = 2;\n} \nelse if (data.voltage > 240 || data.voltage < 200) {\n    data.alert = 3;\n} \nelse {\n    data.alert = 0;\n}\n\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 420,
        "wires": [
            [
                "30f99a4e9313e106"
            ]
        ]
    },
    {
        "id": "30f99a4e9313e106",
        "type": "mqtt out",
        "z": "1de10e4c5802697f",
        "name": "",
        "topic": "/v1.6/devices/heavy-generator",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9179630e0309a938",
        "x": 1130,
        "y": 580,
        "wires": []
    },
    {
        "id": "3f86402efb524e36",
        "type": "mqtt in",
        "z": "1de10e4c5802697f",
        "name": "",
        "topic": "/v1.6/devices/heavy-generator/emergency-brake/lv",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9179630e0309a938",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 700,
        "wires": [
            [
                "fd61152397e0d965"
            ]
        ]
    },
    {
        "id": "fd61152397e0d965",
        "type": "mqtt out",
        "z": "1de10e4c5802697f",
        "name": "",
        "topic": "factory/generator/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5746692edfcd45c7",
        "x": 1130,
        "y": 740,
        "wires": []
    },
    {
        "id": "5746692edfcd45c7",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9179630e0309a938",
        "type": "mqtt-broker",
        "name": "Ubidots Cloud",
        "broker": "industrial.api.ubidots.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]